/* .char {
    padding: 0 10px;
    background: #eee;
} */

/* .char + .char {
    margin-left: 5px;
} */

/* .sep {
    padding: 0 2px;
} */

.con {
    display: flex;  /* This makes your container a flex container */
    flex-wrap: wrap;  /* This enables the wrapping behavior */
    justify-content: center;
    gap: 0.5rem;
}

.char {
    font-size: 2rem; /* default for 'text-md', adjust based on your specific medium size */
    border: 2px solid #E4E7EB; /* default color is black, specify if needed */
    height: 100px;
    /* padding-left: 20px;
    padding-right: 20px; */
    border-radius: 0.25rem; /* default for 'rounded', corresponds to a small border-radius */
    background-color: #e5e7eb; /* Tailwind's 'bg-gray-300' hex color */
}

@media (max-width: 768px) {
    .char {
      font-size: 1rem; /* Smaller font size for smaller screens */
    }
}